<section class="w-screen! flex flex-col items-center bg-primary text-white py-32">
    <h3 class="text-6xl font-bold mb-4">Encuentra y reserva tus servicios</h3>
    <p class="text-lg mb-6">Explora una amplia gama de servicios disponibles en tu área y reserva fácilmente con solo
        unos clicks.</p>

    <div class="relative w-full md:w-1/2">
        <button (click)="search()" class="absolute left-3 inset-y-0 flex items-center">
            <ng-icon name="heroMagnifyingGlass" color="black" size="20" />
        </button>
        <input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Busca un servicio o un profesional"
            class="w-full bg-white p-4 pl-12 rounded-lg text-black focus:outline-none focus:ring-2 focus:ring-blue-300" />
    </div>
</section>