<section class="w-screen! flex flex-col items-center bg-primary text-white py-16">
    <div class="w-3/4 flex flex-col ">
        <h3 class="text-4xl font-bold mb-4">Compañia prueba </h3>

        <div class="flex items-center">
            <ng-icon name="heroStarSolid" color="yellow" size="40" />
            <p class="text-lg ml-3"> <b> 4.5 </b> (200 reseñas) </p>
        </div>

        <div class="flex items-center mt-2">
            <ng-icon name="heroMapPin" color="white" size="40" />
            <p class="text-lg ml-3">Montevideo </p>
        </div>
    </div>
</section>