@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
    --primary-color: #00685F;
    --secondary-color: #F1F5F9;
    --accent-color: #BAAD3E;
}

@theme {
    --font-roboto: 'Roboto', sans-serif;
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-accent: var(--accent-color);
}

* {
    @apply box-border font-roboto select-none cursor-default;
}

body {
    @apply bg-secondary;
}

button {
    @apply outline-none cursor-pointer;
}

input {
    @apply outline-none border-none;
}